body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #0800ff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0800ff;
}

.resultado {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}
